
fieldset{
    display: flex;
    flex-direction: column;
}

#linguagens-group{
    display: block;
}

section.options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}